html{
      scroll-behavior: smooth;
    }
      #firstrow{
       text-align: center;
       padding-top:15vh;
       padding-bottom: 30vh;
       background-color: #18bc9c;
       color: #fff;

      }
      #secondrow{
      padding-top: 35px;
      padding-bottom: 20px;
      margin: auto;
      color: black;
      background-color: white;
      text-align:center; 
      }
      #secondrowright{
       padding-top: 35px;
       padding-bottom: 20px;
       margin: auto;
       color: black;
       background-color: white;
      
      }
      #thirdrow{
       padding-top:50px;
      }
      #cir{
        border: 1px solid white;
        margin-left: 25%; margin-right: 25%;
        background-color: black;
        opacity: .8;
      }
      #gifalign{
        text-align: center; 
        padding-top: 30px;
        padding-bottom: 20px;
      }
      #footer{
        font-size:30px;
        background-color: black;
        color: white;
        padding-left: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
      }

      a:link {
      color: white;
      }

      /* visited link */
      a:visited {
          color: white;
      }

      /* mouse over link */
      a:hover {
          color: white;
      }

      /* selected link */
      a:active {
          color: white;
      }        
      .fa-code:hover {
        color: grey;
      }

      .fa-github:hover {
        color: grey;
      }
      .fa-linkedin:hover {
        color: grey;
      }
      .fa-file-alt:hover {
        color: grey;
      }